.grid-works {
  box-sizing: border-box;
}
.grid-works.cell.left:hover,
.grid-works.cell.right:hover {
  cursor: col-resize;
}

.grid-works.cell.top:hover,
.grid-works.cell.bottom:hover {
  cursor: row-resize;
}

.grid-works.cell.left.top:hover,
.grid-works.cell.left.bottom:hover,
.grid-works.cell.right.top:hover,
.grid-works.cell.right.bottom:hover {
  cursor: all-scroll;
}

.grid-works.cell {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
